:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --error-color: #e74c3c;
  --blue-lorcana: #292a47;
  --beige-lorcana: #FBE9CB;
  --dark-ambre: #22190c;
  --dark-amethyste: #462a46;
  --dark-emeraude: #0e180e;
  --dark-rubis: #652b23;
  --dark-saphir: #205062;
  --dark-acier: #44484b;
  --ambre: #e8a43b;
  --amethyste: #7f3778;
  --emeraude: #28892e;
  --rubis: #d40932;
  --saphir: #038bc7;
  --acier: #9fabb5;
}
